[submodule "emacs.d/feature-mode"]
	path = emacs.d/feature-mode
	url = https://github.com/michaelklishin/cucumber.el.git
[submodule "emacs.d/coffee-mode"]
	path = emacs.d/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
